{% extends "::base.html.twig" %}

{% block title %}AppBundle:Invitation:editInvitationStatus{% endblock %}

{% block body %}
<h1>Welcome to the Invitation:editInvitationStatus page</h1>
{% endblock %}
