<h3>Get All Sent Invitations</h3>

<table clas="table table-striped table-hover">
  <thead>
    <tr>
      <th>Sender Name</th>
      <th>Invited Name</th>
      <th>Message</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for p in post %}
    <tr>
      <td></td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>
        <a href="" class="btn btn-primary btn-xs">View</a>
        <a href="" class="btn btn-success btn-xs">Edit</a>
        <a href="" class="btn btn-danger btn-xs">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
      